BasedOnStyle: Google
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
NamespaceIndentation: None
AccessModifierOffset: -4
IndentAccessModifiers: false
PointerAlignment: Left
SortIncludes: false
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: true
SpacesInParentheses: true
SpacesInSquareBrackets: true
KeepEmptyLinesAtTheStartOfBlocks: true
